<nav>
  <ul>
    <li>
      <a href="/">
        <img
          src="https://images.unsplash.com/photo-1481349518771-20055b2a7b24?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8cmFuZG9tfGVufDB8fDB8fHww&w=1000&q=80"
          alt="banana"
        />
      </a>
    </li>
    <%- locals.currentUser ? `
    <li>
      <a href="/user/logout">
        <button class="nav-btn logout-btn">Logout</button>
      </a>
    </li>
    <li>
      <a href="/message/create"
        ><button class="nav-btn create-btn">Create</button></a
      >
    </li>
    ` : `
    <li>
      <a href="/user/login"><button class="nav-btn login-btn">Login</button></a>
    </li>
    <li>
      <a href="/user/signup"
        ><button class="nav-btn signup-btn">Sign-up</button></a
      >
    </li>
    ` %>
  </ul>
</nav>
