<!DOCTYPE html>
<html>
  <head>
    <title>xClusive</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include('components/nav') %>
    <h1>xClusive</h1>
    <p>Welcome to xClusive message board</p>
  </body>
</html>
