<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Unauthorized 🛑</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include('components/nav') %>
    <h1>Unauthorized 🛑</h1>
    <p>You are not authorized to view this page.</p>
    <p>
      <% if (locals.errors) { %>
      <ul>
        <% locals.errors.forEach(function(error) { %>
        <li><%= error.msg %></li>
        <% }) %>
      </ul>
      <% } %>
    </p>
    <p></p>
    <a href="/">Go back home</a>
  </body>
</html>
