<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login!</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include('components/nav') %>
    <h1 style="text-align: center">Login</h1>
    <form action="/user/login" method="post">
      <div class="form-container">
        <label for="username">Username</label>
        <input
          type="text"
          name="username"
          id="username"
          placeholder="Username"
        />
      </div>
      <div class="form-container">
        <label for="password">Password</label>
        <input
          type="password"
          name="password"
          id="password"
          placeholder="Password"
        />
      </div>
      <% if (locals.error) { %>
      <div class="form-container">
        <p style="color: red"><%= locals.error %></p>
      </div>
      <% } %>
      <div class="form-container">
        <button>Login</button>
      </div>
    </form>
  </body>
</html>
